.mat-chip.mat-basic-chip.mat-primary{
	border:1px solid #eee;
	padding:2px 5px;
}

.mat-chip.mat-basic-chip.mat-primary.n{
	background-color: #F44336;
}

.mat-chip.mat-basic-chip.mat-primary.y{
	background-color: #CDDC39;
}

.mat-chip.mat-basic-chip.mat-primary.p{
	background-color: #FFEB3B;
}